In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../data/results.csv')

In [3]:
data.head()

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007

In [4]:
### Pronaći sve klubove koji su uvijek nastupali u praćenih 12 sezona
#team_season_counts = data.groupby("home_team")["season"].nunique()
#team_season_counts

In [5]:
#teams_in_all_seasons = team_season_counts[team_season_counts == 12].index.tolist()
#teams_in_all_seasons

In [6]:
#filtered_df = data[data['home_team'].isin(teams_in_all_seasons)]
#filtered_df.head()

### Odrediti bodove domaćina i gosta - stvori stupce "home_points" i "away_points"

In [7]:
data["home_points"] = data["result"].map({"H": 3, "D": 1, "A": 0})
data["away_points"] = data["result"].map({"H": 0, "D": 1, "A": 3})

In [8]:
data.reset_index(drop=True, inplace=True)

In [9]:
data.head()

,home_team,away_team,home_goals,away_goals,result,season,home_points,away_points
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007,1,1
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007,1,1
2,Everton,Watford,2.0,1.0,H,2006-2007,3,0
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007,3,0
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007,3,0

### Spremi csv za svaku sezonu

In [10]:
for season, group in data.groupby("season"):
    season_csv_filename = f'season_{season}.csv'
    group.to_csv("../data/task2/" + season_csv_filename, index=False)
    print(f"Saved {season_csv_filename}")

Saved task2_season_2006-2007.csv
Saved task2_season_2007-2008.csv
Saved task2_season_2008-2009.csv
Saved task2_season_2009-2010.csv
Saved task2_season_2010-2011.csv
Saved task2_season_2011-2012.csv
Saved task2_season_2012-2013.csv
Saved task2_season_2013-2014.csv
Saved task2_season_2014-2015.csv
Saved task2_season_2015-2016.csv
Saved task2_season_2016-2017.csv
Saved task2_season_2017-2018.csv