In [63]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [64]:
data = pd.read_csv('../data/results.csv')

In [65]:
data.head()

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007

### Pronaći sve klubove koji su uvijek nastupali u praćenih 12 sezona

In [66]:
team_season_counts = data.groupby("home_team")["season"].nunique()
team_season_counts

home_team
AFC Bournemouth              3
Arsenal                     12
Aston Villa                 10
Birmingham City              3
Blackburn Rovers             6
Blackpool                    1
Bolton Wanderers             6
Brighton and Hove Albion     1
Burnley                      4
Cardiff City                 1
Charlton Athletic            1
Chelsea                     12
Crystal Palace               5
Derby County                 1
Everton                     12
Fulham                       8
Huddersfield Town            1
Hull City                    5
Leicester City               4
Liverpool                   12
Manchester City             12
Manchester United           12
Middlesbrough                4
Newcastle United            10
Norwich City                 4
Portsmouth                   4
Queens Park Rangers          3
Reading                      3
Sheffield United             1
Southampton                  6
Stoke City                  10
Sunderland                  10
Swansea City                 7
Tottenham Hotspur           12
Watford                      4
West Bromwich Albion         9
West Ham United             11
Wigan Athletic               7
Wolverhampton Wanderers      3
Name: season, dtype: int64

In [67]:
teams_in_all_seasons = team_season_counts[team_season_counts == 12].index.tolist()
teams_in_all_seasons

['Arsenal',
 'Chelsea',
 'Everton',
 'Liverpool',
 'Manchester City',
 'Manchester United',
 'Tottenham Hotspur']

In [68]:
filtered_df = data[data['home_team'].isin(teams_in_all_seasons)]
filtered_df.head()

,home_team,away_team,home_goals,away_goals,result,season
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
8,Manchester United,Fulham,5.0,1.0,H,2006-2007
9,Chelsea,Manchester City,3.0,0.0,H,2006-2007
11,Tottenham Hotspur,Sheffield United,2.0,0.0,H,2006-2007

### Odrediti bodove domaćina i gosta - stvori stupce "home_points" i "away_points"

In [69]:
filtered_df["home_points"] = filtered_df["result"].map({"H": 3, "D": 1, "A": 0});
filtered_df["away_points"] = filtered_df["result"].map({"H": 0, "D": 1, "A": 3});

In [70]:
filtered_df.reset_index(drop=True, inplace=True)

In [71]:
filtered_df.head()

,home_team,away_team,home_goals,away_goals,result,season,home_points,away_points
0,Arsenal,Aston Villa,1.0,1.0,D,2006-2007,1,1
1,Everton,Watford,2.0,1.0,H,2006-2007,3,0
2,Manchester United,Fulham,5.0,1.0,H,2006-2007,3,0
3,Chelsea,Manchester City,3.0,0.0,H,2006-2007,3,0
4,Tottenham Hotspur,Sheffield United,2.0,0.0,H,2006-2007,3,0

### Spremi csv za svaku sezonu

In [73]:
for season, group in filtered_df.groupby("season"):
    season_csv_filename = f'task2_season_{season}.csv'
    group.to_csv("../data/" + season_csv_filename, index=False)
    print(f"Saved {season_csv_filename}")

Saved task2_season_2006-2007.csv
Saved task2_season_2007-2008.csv
Saved task2_season_2008-2009.csv
Saved task2_season_2009-2010.csv
Saved task2_season_2010-2011.csv
Saved task2_season_2011-2012.csv
Saved task2_season_2012-2013.csv
Saved task2_season_2013-2014.csv
Saved task2_season_2014-2015.csv
Saved task2_season_2015-2016.csv
Saved task2_season_2016-2017.csv
Saved task2_season_2017-2018.csv